.card-body-custom {
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.card{
    margin-top: 20px !important;
}

.error-img{
    width: 70%;
    height: 60%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #c5bdbd;
}

.image-caption{
    width: 70%;
    margin: auto;
    border: 1px solid #c5bdbd;
    font-weight: 400;
}